* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto Slab', serif;
}

.nav-items {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 60rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1% 5.2%;
}

.bookstore-CMS {
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: 600;
  color: #0290ff;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.a-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.f-col {
  flex-direction: column;
}

.montseratt {
  font-family: 'Montserrat', sans-serif;
}

.page-main-margin {
  margin: 1rem 5rem;
}

.oval {
  justify-self: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 5.625rem;
  padding: 2rem 12rem 2rem 5rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  box-shadow: 0 5px 6px #888;
}

.info-btn {
  border: none;
  margin: 8px;
  background-color: transparent;
  cursor: pointer;
}

form {
  column-gap: 25px;
  display: flex;
}

.form-top {
  border-top: 1px solid grey;
  margin-top: 5%;
}

.form-title {
  margin: 2% 0;
}

.opt-btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.form-input {
  width: 51%;
  line-height: 1.5;
  padding: 15px 0 20px 30px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  text-transform: capitalize;
}

.book-progress {
  column-gap: 20px;
  padding-right: 250px;
  border-right: 1px solid rgb(214, 206, 206);
}

.my-blue {
  color: #0290ff;
}

.my-grey {
  color: #888;
}

.percent {
  row-gap: 25px;
}

.percent h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #121212;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
}

.submit {
  background-color: #0290ff;
  border: none;
  color: #fff;
  width: 40%;
  padding-left: 2%;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.central-demo {
  margin: 8% 40%;
}

.chapter {
  padding: 8% 0;
}

.update-btn {
  background-color: #0290ff;
  border: none;
  color: #fff;
  padding: 8%;
  border-radius: 5px;
}
